<h1>Burgers!</h1>

<h2>Burgers that are not Devoured!</h2>

<ul>
  {{#each Burgers}}
    {{#unless devoured}}
      {{> Burgers/Burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are Devoured!</h2>

<ul>
  {{#each Burgers}}
    {{#if devoured}}
      {{> Burgers/Burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> devoured!<br>
    <input type="radio" name="devoured" value="0"> Un-devoured!
  </div>

  <button type="submit">Add Burger</button>
</form>
